# Output directories
/bin/*
!/bin/**/
!/bin/*.bat
!/bin/*.sh
/bin/*.app/
/bin/*.app.dSYM/
/bin/jit/
/bin/Screenshots/
/bin/tool/
/lib*/
generated/

# Compiled shaders
*.vs?
*.ps?

# Compiled AngelScript
*.asc

# Compiled Lua script
*.luc

# Generated documentation
/Docs/html/
/Docs/qch/

# Android project settings
/Android/local.properties

# Android output directories
/Android/Urho3D/
/Android/ThirdParty/
/Android/libs/

# Precompiled header files
*.gch/
*.pch/
*.pch.*

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
.directory
